<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>Exchange2</id>
      <username>~~~Client~~~</username>
<password>${env.CONNECTEDAPPCLIENTID}?${env.connectedAppClientSecret}</password>
    </server>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
<password>${env.CONNECTEDAPPCLIENTID}?${env.connectedAppClientSecret}</password>
    </server>
    <server>
      <id>anypoint-exchange-v3</id>
   <username>~~~Client~~~</username>
<password>${env.CONNECTEDAPPCLIENTID}?${env.connectedAppClientSecret}</password>
    </server>
   
  </servers>
<!--<localRepository>C:/Users/M2</localRepository>-->
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <profiles>
    <profile>
      <id>mule-extra-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>mule-public</id>
        
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
       
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
       
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>MuleRepositoryPublic</id>
          <name>MuleRepositoryPublic</name>
        
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>

    </profile>
  </profiles>
</settings>
